/*Basicos*/
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
form{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
}
input,.btn-cancel{
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    outline-color: lightblue;
    padding-left: 5px;
    width: 95%;
}
input[type="text"],input[type="date"],input[type="time"],input[type="number"]{
    font-weight: normal;
    text-transform: uppercase;
}
.btn-menu, .btn-send-lots, .btn-pdf, input[type='submit']{
    background: #3b5998;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    width: 30%;
}
.btn-menu{
    margin: 5px;
    height: 35px;
    width: 75px;
}
.btn-cancel, input[type="reset"]{
    background: rgb(170, 170, 170);
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    width: 20%;
}
.div-union{    
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}
.div-part,.div-left{
    display: inline-block;
    margin-bottom: 10px;
}
.div-center{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.div-msg{
    border-radius: 5px;
    margin: 0 1%;
    padding: 3px;
    text-align: center;
    width: auto;
    z-index: 996;
}
.div-red{
    color: red;
    background:#e46b6b61;
}
.div-green{
    color: green;
    background: rgb(177, 255, 177);
}
/*Nuevo mensaje*/
.div-msg{
    padding: 5px 25px 5px 10px;
    position: relative;
}
.div-note{
    border: 1px solid black;
    border-radius: 5px;
    font-weight: normal;
    margin: 10px 20%;
    position: relative;
    padding: 5px;
    text-align: center;
    width: 60%;
}
label{
    cursor: pointer;   
    font-size: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
/********/
.ovx{
    overflow-x: auto;
    width: 100%;
}
.table-style{
    border-collapse: collapse;
    text-align: center;
}
.table-style th{
    background: #29487d;
    color: white;
}
.table-style th,.table-style td{
    border: 1px solid black;
    padding: 2px;
}
h1{
    text-align: center;
    margin: 0;
}
.auto{
    font-style: italic;
    text-decoration: underline;
}
.f32{ font-size: 32px; }
.f14{ font-size: 14px; }
