form{
    margin: 9px 0;
    ;
    width: 75%;
}
.div-union{
    justify-content: center;
}
.div-part{
    width: 20%;
}
@media (max-width: 1280px){
    .div-part{ width: 25%; }
}
@media (max-width: 1024px){
    form{ width: 80%; }
    .div-part{ width: 33.3%; }
}
@media (max-width: 768px){
    form{ font-size: 12px; width: 98%; }
    .div-msg{ 
        margin: 0 25%;
        width: 50%;
    }
}
@media (max-width: 512px){
    .div-part{ width: 50%; }
}
