form{
    margin: 15px 0;
    width: 60%;
}
input{
    height: 20px;
}
.btn-pdf{
    width: 150px;
    margin-bottom: 10px;
}
.quarter{
    width: 25%;
}
.seventy{
    width: 70%;
}
.thirty{
    width: 30%;
}
.table-style{
    width: 100%;
    margin-bottom: 10px;
}
.mb10{
    margin-bottom: 10px;
}
button#change-lot{
    cursor: pointer;
    padding: 2px 2px 0 2px;
}
img#change-lot-img{
    height: 12px;
    width: 12px;
}
.w85{ width: 85%; }
.span-lot{ 
    display: block;
    width: 100%; 
}
@media (max-width: 1024px){
    form{ width: 80%; }
}
@media (max-width: 768px){
    form{
        width: 98%;
    }
}
@media (max-width: 512px){
    .seventy{ min-width: 100%; }
    .quarter,.thirty{ width: 50%; }
}
@media (max-width: 649px) {
    div#to-pdf,.btn-pdf{
        display:none;
    }
}
