/*---Estilos etiqueta---*/
#server_answer{
    text-align: center;
}
.letter{
    font-weight: normal;
    width: 625px;  
}
.div-big-table{
    height: 230px;
    overflow: hidden;
    width: 615px;
}
.div-inline-table{
    display: flex;
    height: 130px;
    overflow: hidden;
    width: 615px;
}
.big-table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.inline-table{
    border: 2px solid black;
    border-collapse: collapse;
    height: 100%;
}
table.big-table td, table.inline-table td{
    font-weight: normal;
    text-align: center;
    padding: 0;
}
.span-text-top{
    font-size: 13px; 
    left: 0; 
    margin: 0;
    padding: 5px; 
    position: absolute; 
    text-align: left; 
    top: 0;
    z-index: 996;
}
.span-text-bottom{
    font-size: 13px; 
    left: 0; 
    padding: 5px 5px 1px;
    position: absolute; 
    bottom: 0;
    z-index: 996;
}
.black-td{
    background: black; 
    color: white; 
}
.qr-div{
    height: 125px; 
    width: 125px;
}
.relative{ position: relative; }
.f40{ font-size: 40px; }
.f32{ font-size: 32px; }
.f20{ font-size: 20px; }
.f18{ font-size: 18px; }
.h62{ height: 62px; }
.w60{ width: 60%; }
.w40{ width: 40%; }
.w10{ width: 10%; }
.inline-table td{
    border: 1px solid black;
}
.inline-table.w40{
    border-left-style: none;
}
.top{
    border-top: 2px solid black;
}
.rig{
    border-right: 2px solid black;
}
.bot{
    border-bottom: 2px solid black;
}
.lef{
    border-left: 2px solid black;
}
/*------*/
