/*---Estilos lista desplegable---*/
.sug-part,.sug-lote{
    background: white;
    box-shadow: 0px 8px 11px 3px rgba(138,138,138,1);
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    width: 200px;
    z-index: 999;
}
input[type='text']{
    width: 200px;
}
ul{
    position: fixed;
}
li{
    width: 200px;
}
li:hover{
    background: rgb(204,204,204);
    cursor: default;
} 
/*------*/
/*---Estilos etiqueta---*/
.letter{
    font-family: monospace;
    font-weight: bold;
}
.div-big-table{
    box-sizing: border-box;
    height: 230px;
    overflow: hidden;
    width: 615px;
}
.div-inline-table{
    box-sizing: border-box;
    display: flex;
    height: 130px;
    overflow: hidden;
    width: 615px;
}
.big-table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.inline-table{
    border: 2px solid black;
    border-collapse: collapse;
    height: 100%;
}
td{
    text-align: center;
    padding: 0;
}
.span-text-top{
    font-size: 13px; 
    left: 0; 
    padding: 5px; 
    position: absolute; 
    text-align: left; 
    top: 0;
    z-index: 998;
}
.span-text-bottom{
    font-size: 13px; 
    left: 0; 
    padding: 5px 5px 3px;
    position: absolute; 
    bottom: 0;
    z-index: 998;
}
.black-td{
    background: black; 
    color: white; 
}
.qr-div{
    height: 125px; 
    width: 125px;
}
.relative{ position: relative; }
.f40{ font-size: 40px; }
.f32{ font-size: 32px; }
.f20{ font-size: 20px; }
.f18{ font-size: 18px; }
.h62{ height: 62px; }
.w60{ width: 60%; }
.w40{ width: 40%; }
.w10{ width: 10%; }
.inline-table td{
    border: 1px solid black;
}
.inline-table.w40{
    border-left-style: none;
}
.top{
    border-top: 2px solid black;
}
.rig{
    border-right: 2px solid black;
}
.bot{
    border-bottom: 2px solid black;
}
.lef{
    border-left: 2px solid black;
}
