form{
    margin: 9px 0;
    width: 40%;
}
.div-union{
    justify-content: center;
    margin-bottom: 10px;
}
.div-msg{
    width: auto;
}
input[type='file']{
    border: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}
.table-style{
    margin: 10px auto;
    width: 60%;
}
.mt10{ margin-top: 10px; }
.btn-send-lots{
    padding: 5px;
    width: auto;
}
.text-red{
    color: red;
}
.i{
    font-weight: normal;
    font-style: italic;
    width: 100%;
}
.result-report{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: auto;
    white-space: pre;
}
.cp:hover{
    cursor: pointer;
    text-decoration: underline;
}
span{ text-align: center; }
.f12{ font-size: 12px; }
@media (max-width: 900px){
    form{ width: 60%; }
}
@media (max-width: 768px){
    form{ width: 80%; }
    .table-style{
        margin: 10px 1%;
        width: 98%;
    }
}
@media (max-width: 512px){
    form{ width: 98%; }
    .btn-cancel,input[type='submit']{
        width: 40%;
    }
}
