form{
    background: white;
    margin: 1% 0 5%;
    padding: 20px;
    width: 300px;
}
input{
    margin: 5px 0;
    width: 100%;
}
input[type='submit']{
    margin: 15px 0 0;
    width: 100%;
}
.div-msg{
    margin: 2% 30% 0;
    width: 40%;
}
