form{
    margin: 9px 0;
    width: 60%;
}
.div-union{
    justify-content: center;
}
.div-part{
    text-align: center;
    width: 20%;
}
/*change_features_lot*/
.div-left{
    width: 25%;
}
span{
    display: block;
    margin: 0 0 5px;
    width: 200%;
}
.pre{
    text-align: center;
    white-space: pre;
}
u{
    text-decoration: underline;
}
/******/
/*delete_lot*/
.table-style{
    margin: 0 1%;
    width: 98%;
}
.mt10{ margin-top: 10px; }
/******/
@media (max-width: 1280px){
    form{ width: 80%; }
}
@media (max-width: 1024px){
    .div-part{ width: 25%; }
}
@media (max-width: 768px){
    form{ width: 98%; }
    .div-part{ width: 33.3%; }
    .div-msg{ 
        margin: 0 25%;
        width: 50%;
    }
    .div-note{ 
        margin: 10px 20%;
        width: 60%;
    }
}
@media (max-width: 512px){
    .div-part,.div-left{ width: 50%; }
    .btn-cancel,input[type="submit"],input[type="reset"]{
        width: 50%;
    }
    .div-note{ 
        margin: 10px 10%;
        width: 80%;
    }
}
@media (max-width: 320px){
    .yp{ width: 40%; }
    .ts{ width: 60%; }
}
