*{
    list-style: none;
    text-decoration:none;
    margin:0;
    padding:0;
}
.nav{
    display: flex;
    font-size: 14px;
    height: 45px;
    margin-bottom: 20px;
    position: relative;
    z-index: 999;
}
.nav > li {
    flex: 1;
    text-align: center;
}  
.nav li a{
    align-items: center;
    background:#3b5998;
    border: 1px solid;
    color:#FFF;
    display: flex;
    height: 45px;
    justify-content: center;
}  
.nav li a:hover {
    background:#6c8ed8;
}
.nav:hover{ cursor: pointer; }
.nav li ul {
    display: none;
    position: relative;
    width: 100%;
}
.nav li:hover > ul {
    display: block;
}
.nav li .flecha{
    font-size: 12px;
    padding-left: 12px;
    width: auto;
}
.btn-menu{
    display: none;
}
.show{
    display: block !important;
}
@media (max-width: 768px) {
    .nav{
        height: auto;
        border-bottom: 0px;
        display: none;
        width:  100%;
        position: fixed;
        top: 39px;
    }
    .nav a{
        height: 45px;
        border-bottom: 1px solid #29487d;
    }
    .btn-menu{
        display: block;
    }
}
