form{
    margin: 9px 0;
    width: 40%;
}
input[type='text']{
    text-transform: none;
}
input[type="radio"]{
    width: 10%;
}
.mt5{
    margin-top: 5px;
}
.div-part{
    width: 50%;
}
@media (max-width: 850px){
    form{ width: 60%; }
}
@media (max-width: 512px){
    form{ width: 98%; }
    .div-msg{ 
        margin: 0 25%;
        width: 50%;
    }
}
