form{
    margin: 9px 0;
    width: 60%;
}
.div-union{
    justify-content: center;
}
.div-part{
    text-align: center;
    width: 25%;
}
/*change_features_part*/
.div-left{
    width: 30%;
}
span{
    display: block;
    margin: 0 0 5px;
    width: 200%;
}
.pre{
    text-align: center;
    white-space: pre;
}
/******/
/*delete_part*/
.table-style{
    border-collapse: collapse;
    margin: 0 10%;
    text-align: center;
    width: 80%;
}
th{
    background: #29487d;
    color: white;
}
.table-style th,.table-style td{
    border: 1px solid black;
    padding: 2px;
}
.ovx{
    overflow-x: auto;
    width: 100%;
}
.mt10{ margin-top: 10px; }
/******/
@media (max-width: 1024px){
    form{ width: 80%; }
}
@media (max-width: 768px){
    .div-msg{ 
        margin: 0 20%;
        width: 60%;
    }
    input[type="submit"]{ font-size: 13px; }
}
@media (max-width: 512px){
    form{ width: 98%; }
    .div-part, .div-left{ width: 50%; }
    .btn-cancel,input[type="submit"],input[type="reset"]{
        font-size: 14px;
        width: 50%;
    }
    .table-style{ 
        margin: 0 1%;
        width: 98%;
    }
}
