form{
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
}
table{
    margin: auto;
}
input[type='text']{
    width: 98%;
}
input[type='submit']{
    margin: auto;
    width: 20%;
}
.div-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}
h1{
    text-align: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
